.about {
  @include clearfix;
}
.decription__texts {
  width: 650px;
  margin-bottom: 50px;

  color: #8d8f92;
}
.about__sidebar {
  float: right;
  width: 460px;
  margin-left: 15px;
}
.about__list {
  margin: 0;
  padding: 0;
}
.about__wrapper {
  float: left;
  width: 655px;
}
.about__item {
  list-style: none;
}
