.feature {
  background-color: $bg-color-primary;
}
.feature__title {
  padding-top: 75px;
  padding-bottom: 60px;

  color: $white;

  &::before {
    position: absolute;
    content: '';
    left: -20px;
    top: 75px;

    height: 35px;

    border-left: 10px solid #4e5a62;

  }
}

.feature__container {
  display: inline-block;
  vertical-align: top;

  width: 361px;
  margin-right: 20px;

  font-size: 0;

  &:nth-child(4) {
   margin-right: 0;
  }
}
.feature__img {
  margin: 0;
  padding: 0;
}
.feature__description {
  margin: 20px 0;
  font-size: 18px;
  line-height: 42px;

  color: $white;
}
.feature__text {
  margin: 0;
  padding-bottom: 120px;

  font-size: 16px;
  line-height: 26px;

  color: #dcdfe1;
}
