.main-menu {
  display: flex;
  justify-content: flex-end;


  width: 650px;
  margin: 0;
  margin-left: 300px;
  padding: 0;
  padding-top: 20px;
}
.main-menu__item {
  list-style: none;
}
.main-menu__list {
  padding: 0 40px;
  font-size: 14px;
  line-height: 42px;
  font-weight: 400;
  text-decoration: none;
  color: #a4aead;
  text-transform: uppercase;
}
