.main-footer {
  background-color: $bg-color-primary;
}
.main-footer__wrapper {
  display: flex;
}
.main-footer__copyright {
  padding: 20px 0;

  font-size: 14px;
  line-height: 26px;
  color: $white;
}
