.our-action__wrapper {
  margin-bottom: 90px;
}
.our-action__inner-wrapper {
  display: inline-block;
  vertical-align: middle;

  width: 263px;
  margin-right: 25px;

  font-size: 0;

  &:nth-child(4n + 4) {
    margin-right: 0;
  }
}
.our-action__title {
  margin-top: 75px;
  margin-bottom: 90px;
}
.our-action__text {
  width: 260px;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #8d8f92;
}
.our-action__subtitle {
  position: relative;
  font-size: 17px;

  color: #292f36;
  text-align: center;

  &--icon::before {
    position: absolute;
    content: "";
    top: -40px;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/sprite.png") no-repeat center;
  }
  &--settings::before {
    width: 48px;
    height: 48px;
    background-position: -136px -93px;
  }
  &--pencil::before {
    width: 48px;
    height: 48px;
    background-position: -132px -5px;
  }
  &--mobile::before {
    width: 48px;
    height: 48px;
    background-position: -96px -63px;
  }
  &--clock::before {
    width: 48px;
    height: 48px;
    background-position: -74px -5px;
  }
}
