.social-links {
  position: relative;

  &--about {
    display: flex;

    margin-bottom: 130px;
  }
  &--footer {
    margin-left: auto;
  }
  &--content {
    display: none;
  }
}
.hr {
  margin-bottom: 70px;

  background-color: #dde1e4;
}
